nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 10vh; /* Altura fija */
    background-color: rgb(16, 111, 104);
    display: flex; /* Activar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centrar los elementos dentro del ul */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margin por defecto */
}

ul li {
    display: flex; /* Flexbox para centrar el contenido si hay algo más dentro del li */
    justify-content: center;
    align-items: center;
    width: 160px;
}

ul li a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 28px;
    position: relative; /* Para posicionar el efecto */
    overflow: hidden; /* Evita que los elementos salgan del contenedor */
    padding: 5px 0;
    transition: color 0.3s ease; /* Transición para cambio de color */
}

ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Altura del subrayado */
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

ul li a:hover {
    color: #f0f0f0; /* Cambia el color del texto al pasar el mouse */
}

ul li a:hover::after {
    width: 100%; /* Expande el subrayado */
}
