/* Estilo para el main */

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 180px;
    background-color: rgb(163, 192, 195); /* Fondo claro */
}



.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(16, 111, 104);
}

.login-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}

.login-container input:focus {
    border-color: rgb(16, 111, 104);
}

.login-container button {
    padding: 15px;
    background-color: rgb(16, 111, 104);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-container button:hover {
    background-color: rgb(13, 94, 88);
    transform: translateY(-2px);
}

.login-container .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
